<p-treeTable [value]="nodes">
  <ng-template pTemplate="header">
    <tr>
      <th>Category</th>
      <th>Spent</th>
      <th>Available</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
    <tr>
      <td>
        <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
        <a routerLink="/accounts/?x={rowData.category}">
          {{ rowData.category }}
        </a>
      </td>
      <td>{{ rowData.spent | currencyZar }}</td>
      <td>{{ rowData.available | currencyZar }}</td>
    </tr>
  </ng-template>
</p-treeTable>
